<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>357 Game</title>

  
</head>

<body>
  <h1>357 Game</h1>
  <h3>Author: Matevz Kusterle</h3>

  <!-- Invite a friend form -->
  <div style="margin-top: 2rem;">
    <form action="/play/friend" method="get">
      <button type="submit">Invite a Friend</button>
    </form>
  </div>

  <!-- Link to the external script file (if any) -->
  <script src="/static/js/script.js"></script>
</body>

</html>
